.st-emotion-cache-1wbqy5l {
    display: none;
    gap: 0.5rem;
    -webkit-box-align: center;
    align-items: center;
    line-height: 0.9rem;
}
.st-emotion-cache-fblp2m {
    vertical-align: middle;
    overflow: hidden;
    color: inherit;
    fill: currentcolor;
    display: none;
    -webkit-box-align: center;
    align-items: center;
    font-size: 1.25rem;
    width: 1.25rem 
rem
;
    height: 1.25rem;}